/* Estilos para la pasarela de imágenes */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .gallery img:hover {
    transform: scale(1.1);
  }
  